---
interface Props {
  text: string;
  icon: string;
  link: string;
  bg: string;
  download: string;
  alt: string;
}

const {text, icon, link, bg, download, alt} = Astro.props;
---

<a href={link} class={bg} {download}>
  <img src={icon} alt={alt} class="me-1" />
  {text}
</a>

<style></style>
